---
layout: default
---

{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	
	
	
	<a href="https://ge0tic.github.io/ge0tic-app/" class="image fit">
		<img src="/assets/images/ge0tic-app.png"></a>
		
		
		<p style="text-align: center;">
			<a href="https://ge0tic.github.io/ge0tic-app/" target="_blank">Haga click aquí para ver ge0tic App Web</a>
		</p>
</div>