---
layout: default
---

{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	
	<p style="text-align: center;">
		<table align="center">
			<tr>
				<td><a href="https://ge0tic.github.io/ge0tic-app/" target="_blank" class="image">
					<img src="/assets/images/ge0tic-app.png"></a></td>
	
				<td><a href="https://play.google.com/store/apps/details?id=com.ge0tic.bo" target="_blank" class="image">
					<img src="/assets/images/logo-play-store.png"></a></td>
			</tr>
		</table>
	</p>

	
	
	
		
		
		
</div>
